<div class="admin-products">
  <nav class="breadcrumb">
    <ol>
      <li><a href="/admin">Admin</a></li>
      <li><svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg></li>
      <li>Products</li>
    </ol>
  </nav>
  <main>
    <div class="admin-products-table">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
           
            <th>imageURL</th>
            <th>Price</th>
            <th>Category</th>
            <th class="table-timestamp">CreatedAt</th>
            <th class="table-timestamp">UpdatedAt</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= item.name %></td>
              
              <td><a class="text-overflow external-link" href="<%= item.image_url %>"><%= item.image_url %></a></td>
              <td class="text-right"><%= item.price %></td>
              <td class="text-right"><%= item.category %></td>
              <td><%= item.created_at %></td>
              <td><%= item.updated_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="admin-products-form">
      <form action="/admin/post" enctype="multipart/form-data" method="post">
        <div>
          <div>
            <label for="name">Name</label>
            <input id="name" type="text" name="name" placeholder="購入品" required>
            </input>
          </div>
          <div>
            <label for="image">Image</label>
            <input id="image" type="file" name="image" accept="image/*">
            </input>
            <label for="image" class="file-button">ファイルを選択</label>
          </div>
        </div>
        <div>
          <div>
            <label for="price">Price</label>
            <input id="price" type="number" name="price" placeholder="金額" required>
            </input>
          </div>
          <div>
            <label for="stock">種類</label>
            <input id="stock" type="text" name="category" placeholder="種類" required>
            </input>
          </div>
          <input type="submit" value="投稿">
          </input>
        </div>
      </form>
    </div>
  </main>
</div>

<script src="/js/input_file.js"></script>
